.clogo{
    margin: 10px;
}

.logo{
    width: 180px;
    height: 44px;
    object-fit: center;
 }
 
 .subcategory{
     text-decoration: none !important;
     color: gray !important;
 }


 .removeSpace {
    padding: 0px !important;
    margin: 0px !important;
 }